* {
    padding: 0%;
    margin: 0%;
    font-family: century gothic;
}

body{
    background-image: url(img/fondo.jpg);
    background-attachment: fixed;
}
img {
    float: left;
    height: auto;
    width: 100px;
    padding: 5px 60px 0px 60px;
}

.barra-navegacion {
    background-color: #886520;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.enlaces {
    display: flex;
}

.enlaces a {
    margin-left: 30px;
    margin-right: 40px;
    text-decoration: none;
    color: #FFFFFF;
}

.enlaces a:hover {
    border-bottom: 2px solid #FFFFFF;
    font-size: 19px;
    transition: 0.5s;
}

.presentacion {
    /* background-image: url(img/fondo.jpg); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.imagen {
    margin-top: -25px;
    margin-bottom: 20px;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.contenido {
    max-width: 600px;
    margin: 0 auto;
}

.titulo {
    color: #886520;
    margin-bottom: 50px;
    font-family: "Great Vibes", cursive;
    font-size: 70px;
}

.logo:hover{
    width: 120px;
    transition: 0.5s;
}
p{ 
    font-size: 150%;
}
/** Background de pagina reserva  */
body.reserva, .carta{
    background-image: url(img/fondo.jpg);
}


.servicios{
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.titulo-servicios{
    font-size: 50px;
    font-family: "Great Vibes", cursive;
    color: #886520;
}
.lista-servicios{
    display: flex;
    list-style: none;
    justify-content: space-around;
    border: black;
}

span{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    
}
.logos{
    margin-right: 3px; 
}

.lista-servicios li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#seguridad{
    margin-top: 6.4px;
}
#ambiente{
    margin-right: 38px;
}
